@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* الخلفية المتدرجة */
body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #c05151, #d62424, #ff4848);
  background-size: 200% 200%;
  overflow-x: hidden;
  animation: gradientMove 15s ease infinite;
}
#videos{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: center;
} 
.row{
  margin: 0;
}
/* الوضع الفاتح */
body.light-mode .main,
body.light-mode .main2,
body.light-mode .nav {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  
}

/* الوضع الداكن */
body.dark-mode .main,
body.dark-mode .main2,
body.dark-mode .nav {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

/* تعديلات عامة للنصوص */
body.light-mode h1,
body.light-mode h2,
body.light-mode p,
body.light-mode a,
body.light-mode button {
  color: #fff !important;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode a,
body.dark-mode button {
  color: #fff !important;
}

@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 0 0 15px 15px;
  color: #fff;
  z-index: 100;
}

.nav .title {
  font-size: 2rem;
  background: linear-gradient(90deg, rgb(255, 0, 55), rgb(241, 19, 23));
  border-radius: 5px;
  padding: 5px 10px;
}

.nav .links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav .links a {
  font-size: large;
  color: #fff;
  text-decoration: none;
}

.nav .links button {
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(255, 0, 55), rgb(241, 19, 23));
  transition: all 0.4s ease;
}

.nav .links button:hover {
  transform: scale(1.1);
  border: 1px solid rgb(241, 19, 23);
  background: transparent;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.2); /* شفاف 20% */
  backdrop-filter: blur(15px); /* تأثير زجاجي */
  border-radius: 20px;
  margin-bottom: 90px;
  margin-top: 90px;
  padding: 40px;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.main2{
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2); /* شفاف 20% */
  backdrop-filter: blur(15px); /* تأثير زجاجي */
  border-radius: 20px;
  padding: 40px;
  /* max-width: 700px; */
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.man {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.main h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.main2 h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.l{
  font-size: 3rem;
  background: linear-gradient(90deg, rgb(255, 0, 55), rgb(241, 19, 23));
  border-radius: 5px;
  box-shadow: rgba(255, 0, 0, 0.877) 0px 22px 70px;
}

.a {
  font-size: 25px;
  text-align: center;
  margin: 0 1px 0 1px;
}
.sign{
  margin-left: 10px;
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img img {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 390px;
  image-rendering: pixelated;
  border-radius: 15px;
  animation-name: fade;
  animation-delay: 0.5s;
  animation-duration: 7s;
  transition: all ease-in-out 5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main p {
  font-size: 1.2rem;
}
.main a button {
  width: 150px;
  color: #fff;
  font-size: large;
  border: none;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(255, 0, 55), rgb(241, 19, 23));
  transition: all ease-in-out 0.4s;
}
.main a button:hover {
  border: 1px solid rgb(241, 19, 23);
  color: rgb(241, 19, 23);
  background: transparent;
}
.main2 p {
  font-size: 1.2rem;
}
.main2 a button {
  width: 150px;
  color: #fff;
  font-size: large;
  border: none;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(255, 0, 55), rgb(241, 19, 23));
  transition: all ease-in-out 0.4s;
}
.main2 a button:hover {
  border: 1px solid rgb(241, 19, 23);
  color: rgb(241, 19, 23);
  background: transparent;
}
@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 15s ease infinite;
}

.containerCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card1 {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top : 20px;
  padding-bottom : 20px;
  padding-right : 0px;
  padding-left : 0px;
  border-radius: 15px;
  margin-right: 10px;
  background-color: #c05151;
  transform: translateY(50px);
  opacity: 0;
  animation: cards 1s forwards;
  transition: all ease 0.5s;
}
.card1 h2{
  font-size: 1.5rem;
}
.card1 a button {
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(255, 0, 55), rgb(241, 19, 23));
  transition: all ease-in-out 0.1s;
}
.card1 a button:hover{
  transform: scale(1.1);
  border: 1px solid rgb(241, 19, 23);
  background: transparent;
}
.card2 {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top : 20px;
  padding-bottom : 20px;
  padding-right : 0px;
  padding-left : 0px;
  border-radius: 15px;
  background-color: #c05151;
  margin-right: 10px;
  transform: translateY(100px);
  opacity: 0;
  animation: cards 1.5s forwards;
  transition: all ease 0.5s;
}
.card2 h2{
  font-size: 1.5rem;
}
.card2 a button {
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(255, 0, 55), rgb(241, 19, 23));
  transition: all ease-in-out 0.1s;
}
.card2 a button:hover{
  transform: scale(1.1);
  border: 1px solid rgb(241, 19, 23);
  background: transparent;
}
.card3 {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top : 20px;
  padding-bottom : 20px;
  padding-right : 0px;
  padding-left : 0px;
  border-radius: 15px;
  margin-right: 10px;
  background-color: #c05151;
  transform: translateY(150px);
  opacity: 0;
  animation: cards 2s forwards;
  transition: all ease 0.5s;
}
.card3 h2{
  font-size: 1.5rem;
}
.card3 a button {
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(255, 0, 55), rgb(241, 19, 23));
  transition: all ease-in-out 0.1s;
}
.card3 a button:hover{
  transform: scale(1.1);
  border: 1px solid rgb(241, 19, 23);
  background: transparent;
}
.cards{
  display: flex;
  flex-direction: row;
}
.cards img{
  border-radius: 10px;
  width: 200px;
}
/* .animated{
  transform: translateY(30px);
  opacity: 0;
  animation: cards 0.7s forwards;
} */
@keyframes cards{
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
  }
  #nav-links>button:nth-child(4) {
    margin-left : 0px;
  }
  .menu-toggle {
    display: block;
  }

  #nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }


  #nav-links.show {
    display: flex; /* تظهر لما نضغط على الزر */
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  .links button {
    width: 100%;
  }
  .main{
    flex-direction: column;
  }
  .img img{
    margin-top: 15px;
    width: 200px;
  }
  .cards{
    flex-direction: column;
  }
  .card1,
  .card2{
    margin-bottom: 10px;
  }
}